@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Titillium+Web:wght@700&display=swap');

.navbar {
    height: 70px;
    width: 100%;
    padding: 20px 0 30px 0;
    color: #59d4ce;
    /* background-image: linear-gradient(to bottom, #17252a, #17252ac0, #5cdb9500); */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: fixed;
    transition: 0.5s ease-in;
    z-index: 99;
}

.scrolled {
    background-color: #f9faff;
    color: #17252a;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.navbar-container {
    width: 100%;
    margin: 0 70px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-heading {
    margin-left: 20px;
}

@media (max-width: 600px) {
    .navbar-heading {
        margin-left: 5px;
    }
}

.navbar-title {
    font-size: 2.5em;
    transition: 0.5s ease-in;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    word-break: break-all;
    cursor: default;
}

.navbar-links ul{
    display: flex;
    flex-direction: row;
}

.navbar-links a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.navbar-links a.active {
    color: #3a8a86 !important;
    font-size: 1.5em;
    font-weight: 700;
    /* border-bottom: 2px solid #3a8a86; */
}

.navbar-links a:hover {
    color: #3a8a86;
}

.navbar-links a::after {
    margin-top: 5px;
    display:block;
    content: '';
    border-bottom: solid 3px #3a8a86;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.navbar-links a:hover::after {
    transform: scaleX(1);
}

.navbar-links .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-links ul{
        display: none;
    }
    .navbar-links .icon {
        display: block;
    }
}

@media screen and (max-width:600px) {

    .navbar-links-mobile ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100px;
        width: 100%;
        text-align: center;
        background-color: black;
        transition: all 0.5s ease-in;
    }

    .navbar-links-mobile ul a {
        padding: 10px;
    }

    .navbar-links-mobile a {
        text-decoration: none;
        color: white;
    }

    .navbar-links-mobile .icon {
        padding: 10px;
    }
}

/* Scrolled Mobile Dropdown */
@media screen and (max-width:600px) {

    .navbar-links-mobile-scrolled ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        width: 100%;
        text-align: center;
        background-color: white;
        transition: all 0.5s ease-in;
        /* box-shadow: 0 2px 3px rgba(0,0,0,0.5); */
    }

    .navbar-links-mobile-scrolled ul a {
        padding: 10px;
    }

    .navbar-links-mobile-scrolled a {
        text-decoration: none;
        color: black;
    }

    .navbar-links-mobile-scrolled ul a:last-of-type {
        margin-bottom: 10px;
    }

    .navbar-links-mobile-scrolled ul a:first-of-type {
        margin-top: 10px;
    }

    .navbar-links-mobile-scrolled .icon {
        padding: 10px;
    }
}