@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.project-main {
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.project-top {
    font-family: 'Fira Code', monospace;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 130px;
    color: #17252a;
    font-size: 1.8em;
}

.project-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}