@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.exp-main {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.exp-title {
    font-family: 'Fira Code', monospace;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
    color: #17252a;
    font-size: 1.8em;
}

.exp-container{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}